src/test/resources/schemata/mule-plc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
#%L
  Mule PLC Connector Test Utilities
%%
  Copyright (C) 2021 - 2022 (teslanet.nl) Rogier Cobben
  
  Contributors:
      (teslanet.nl) Rogier Cobben - initial creation
%%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
       http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
#L%
-->
<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.teslanet.nl/schema/mule/plc" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:annotation>
            <xs:documentation>Configuration of a PLC connection.</xs:documentation>
          </xs:annotation>
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="1" maxOccurs="1" ref="mule:abstractConnectionProvider"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:expiration-policy"></xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="required" name="name"></xs:attribute>
          <xs:attribute type="mule:expressionLong" use="optional" default="1000" name="timeout">
            <xs:annotation>
              <xs:documentation>The timeout units used for plc communcation.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute xmlns="http://www.teslanet.nl/schema/mule/plc" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="MILLISECONDS" name="timeoutUnits">
            <xs:annotation>
              <xs:documentation>The timeout units user for plc communcation.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
          </xs:sequence>
          <xs:attribute type="mule:expressionString" use="required" name="connectionUri">
            <xs:annotation>
              <xs:documentation>The connection uri of the plc.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.teslanet.nl/schema/mule/plc" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="EventHandlerType" substitutionGroup="mule:abstract-message-source" name="event-handler">
    <xs:annotation>
      <xs:documentation>The EventHandler message source receives PLC events. The received PLC messages are delivered to the handlers mule-flow.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="EventHandlerType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageSourceType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-redelivery-policy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:substitutableName" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="handlerName">
          <xs:annotation>
            <xs:documentation>The name of the handler by which it is referenced by observers and async requestst.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:substitutableBoolean" use="optional" name="primaryNodeOnly">
          <xs:annotation>
            <xs:documentation>Whether this source should only be executed on the primary node when runnning in Cluster</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.teslanet.nl/schema/mule/plc" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="PingType" substitutionGroup="mule:abstract-operator" name="ping">
    <xs:annotation>
      <xs:documentation>Ping the PLC.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PingType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:substitutableName" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.teslanet.nl/schema/mule/plc" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ReadType" substitutionGroup="mule:abstract-operator" name="read">
    <xs:annotation>
      <xs:documentation>Read PLC flields.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ReadType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="read-fields">
            <xs:annotation>
              <xs:documentation>The PLC fields to read.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:plc="http://www.teslanet.nl/schema/mule/plc" minOccurs="0" maxOccurs="unbounded" ref="plc:abstract-read-field"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:substitutableName" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:substitutableBoolean" use="optional" default="true" name="throwExceptionOnIoError">
          <xs:annotation>
            <xs:documentation>When true an exception is thrown on field io errrors.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionList" use="optional" name="readFields">
          <xs:annotation>
            <xs:documentation>The PLC fields to read.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="nl.teslanet.mule.connectors.plc.api.ReadField">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="mule:expressionString" use="required" name="alias"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="address"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:plc="http://www.teslanet.nl/schema/mule/plc" type="plc:nl.teslanet.mule.connectors.plc.api.ReadField" abstract="true" name="abstract-read-field"></xs:element>
  <xs:element xmlns:plc="http://www.teslanet.nl/schema/mule/plc" substitutionGroup="plc:abstract-read-field" name="read-field">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="plc:nl.teslanet.mule.connectors.plc.api.ReadField"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.teslanet.nl/schema/mule/plc" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SubscribeType" substitutionGroup="mule:abstract-operator" name="subscribe">
    <xs:annotation>
      <xs:documentation>Subscribe PLC fields.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SubscribeType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="subscribe-fields">
            <xs:annotation>
              <xs:documentation>The PLC fields to subscribe to.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:plc="http://www.teslanet.nl/schema/mule/plc" minOccurs="0" maxOccurs="unbounded" ref="plc:abstract-subscribe-field"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:substitutableName" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:substitutableBoolean" use="optional" default="true" name="throwExceptionOnIoError">
          <xs:annotation>
            <xs:documentation>When true an exception is thrown on field io errrors.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="handlerName">
          <xs:annotation>
            <xs:documentation>The handlerName that will process the events produced by the PLC on this subscription.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="subscriptionName">
          <xs:annotation>
            <xs:documentation>The name of the subscription.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionList" use="optional" name="subscribeFields">
          <xs:annotation>
            <xs:documentation>The PLC fields to subscribe to.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="nl.teslanet.mule.connectors.plc.api.SubscribeField">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="mule:expressionString" use="required" name="alias"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="address"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:plc="http://www.teslanet.nl/schema/mule/plc" type="plc:nl.teslanet.mule.connectors.plc.api.SubscribeField" abstract="true" name="abstract-subscribe-field"></xs:element>
  <xs:element xmlns:plc="http://www.teslanet.nl/schema/mule/plc" substitutionGroup="plc:abstract-subscribe-field" name="subscribe-field">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="plc:nl.teslanet.mule.connectors.plc.api.SubscribeField"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.teslanet.nl/schema/mule/plc" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="UnsubscribeType" substitutionGroup="mule:abstract-operator" name="unsubscribe">
    <xs:annotation>
      <xs:documentation>Unsubscribe PLC fields.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="UnsubscribeType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:substitutableName" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:substitutableBoolean" use="optional" default="true" name="throwExceptionOnIoError">
          <xs:annotation>
            <xs:documentation>When true an exception is thrown on field io errrors.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="handlerName">
          <xs:annotation>
            <xs:documentation>The handlerName that will process the events produced by the PLC on this subscription.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="subscriptionName">
          <xs:annotation>
            <xs:documentation>The name of the subscription.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.teslanet.nl/schema/mule/plc" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="WriteType" substitutionGroup="mule:abstract-operator" name="write">
    <xs:annotation>
      <xs:documentation>Write PLC fields.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="WriteType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="write-fields">
            <xs:annotation>
              <xs:documentation>The alias and plc-name of the items to request.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:plc="http://www.teslanet.nl/schema/mule/plc" minOccurs="0" maxOccurs="unbounded" ref="plc:abstract-write-field"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:substitutableName" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:substitutableBoolean" use="optional" default="true" name="throwExceptionOnIoError">
          <xs:annotation>
            <xs:documentation>When true an exception is thrown on field io errrors.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionList" use="optional" name="writeFields">
          <xs:annotation>
            <xs:documentation>The alias and plc-name of the items to request.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="nl.teslanet.mule.connectors.plc.api.WriteField">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="mule:expressionString" use="required" name="alias"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="address"></xs:attribute>
        <xs:attribute type="mule:expressionList" use="optional" name="values"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:plc="http://www.teslanet.nl/schema/mule/plc" type="plc:nl.teslanet.mule.connectors.plc.api.WriteField" abstract="true" name="abstract-write-field"></xs:element>
  <xs:element xmlns:plc="http://www.teslanet.nl/schema/mule/plc" substitutionGroup="plc:abstract-write-field" name="write-field">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="plc:nl.teslanet.mule.connectors.plc.api.WriteField"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="java.util.concurrent.TimeUnitEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NANOSECONDS"></xs:enumeration>
          <xs:enumeration value="MICROSECONDS"></xs:enumeration>
          <xs:enumeration value="MILLISECONDS"></xs:enumeration>
          <xs:enumeration value="SECONDS"></xs:enumeration>
          <xs:enumeration value="MINUTES"></xs:enumeration>
          <xs:enumeration value="HOURS"></xs:enumeration>
          <xs:enumeration value="DAYS"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>


